p {
  color: green;
  font-size: 20px;
}

span {
  color: red;
}

ul li {
  list-style: none;
}

#first-text{
    color: blue;
    font-size: 50px;
}

.box {
  width: 250px;
  height: 300px;
  background-color: rgb(172, 118, 225);
  padding: 20px;
  align-items: center;
  display: flex;
}
